

@font-face {
    font-family: 'Akronim';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Akronim/Akronim-Regular.ttf') format("truetype") 
}
 
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Work_Sans/static/WorkSans-Regular.ttf') format("truetype") 
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Roboto/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Roboto/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*Возможные размеры по ширине: 2560px, 1440px, 1024px, 768, 425, 375, 320*/

:root {
    box-sizing: border-box;
}

@media (min-width: 2560px) { /*Desktop*/
    :root { 
        --content-width: 1920px;
        --header-height: 1083px;

        --header-central-column-width: 1340px;
        --header__title-height: 168px;
        --header__title-margin-top: 377px;

        --header__subtitle-font-size: 48px;
        --header__subtitle-container-margin-top: 16px;

        --header__front-picture-left: 786px;
        --header__front-picture-height: 807px;

        --main-height: 3380px;
        --main-top-segment-height: 793px;

        --social-network-icons-block-top: 475px;
        --social-network-icons-block-left: 42px;
        --social-network-icons-block-height: 92px;

        --social-network-icon-side-size: 16px;


        --product-info-block-left: 291px;
        --product-info-block-top: 141px;

        --product-avatar-width: 640px;
        --product-avatar-height: 929px;        

        --product-cards-placement-margin-top: 53px;
        --product-cards-placement-margin-left: 137px;

        --product-cards-viewport-width: 433px;
        --product-cards-viewport-height: 435px;

        --product-card-width: 433px;
        --product-card-height: 435px;

        --product-card__title-font-size: 81px;

        --product-card-title-to-description-range: 31px;
        --product-cards-viewport-to-scrollbar-range: 37px;

        --product-card__description-font-size: 24px;
        --product-card__description-line-height: 35px;

        --product-cards-scrollbar-width: 433px;
        --product-cards-scrollbar-line-thickness: 1px;
        --product-cards-scrollbar-thumb-thickness: 5px;

        --product-cards-right-fliper-container-margin-left: 93px;
        --product-cards-left-fliper-container-margin-right: 93px;
        --product-cards-fliper-width: 35px;
        --product-cards-fliper-height: 66px;

        --view-gallery-tools-container-height: 91px;
        --view-gallery-tools-container-margin-bottom: 62px;

        --view-gallery-button-in-product-info-block-font-size: 36px;
        --view-gallery-button-in-product-info-block-line-height: 65px;
        --view-gallery-button-in-product-info-block-width: 431px;
        --view-gallery-button-in-product-info-block-height: 91px;

        --arrow-in-product-card-width: 67px;
        --arrow-in-product-card-height: 35px;
    }
}

@media (max-width: 2560px) { /*4K*/
    :root { 
        --content-width: 1600px;
        --header-height: 902px;

        --header-central-column-width: 1117px;
        --header__title-height: 163px;
        --header__title-margin-top: 314px;

        --header__subtitle-font-size: 48px;
        --header__subtitle-container-margin-top: 16px;

        --header__front-picture-left: 655px;
        --header__front-picture-height: 655px;

        --main-height: 2814px;
        --main-top-segment-height: 661px;

        --social-network-icons-block-top: 396px;
        --social-network-icons-block-left: 35px;
        --social-network-icons-block-height: 92px;

        --social-network-icon-side-size: 16px;

        --product-info-block-left: 242px;
        --product-info-block-top: 117px;

        --product-avatar-width: 533px;
        --product-avatar-height: 774px;

        --product-cards-placement-margin-top: 45px;
        --product-cards-placement-margin-left: 115px;

        --product-cards-viewport-width: 361px;
        --product-cards-viewport-height: 362px;

        --product-card-width: 361px;
        --product-card-height: 362px;

        --product-card__title-font-size: 68px;

        --product-card-title-to-description-range: 10px;/*26px;*/
        --product-cards-viewport-to-scrollbar-range: 37px; /*31px;*/

        --product-card__description-font-size: 24px; /*20px;*/
        --product-card__description-line-height: 29px;

        --product-cards-scrollbar-width: 361px;
        --product-cards-scrollbar-line-thickness: 1px;
        --product-cards-scrollbar-thumb-thickness: 5px;

        --product-cards-right-fliper-container-margin-left: 78px;
        --product-cards-left-fliper-container-margin-right: 78px;
        --product-cards-fliper-width: 29px;
        --product-cards-fliper-height: 55px;

        --view-gallery-tools-container-height: 76px;
        --view-gallery-tools-container-margin-bottom: 52px;

        --view-gallery-button-in-product-info-block-font-size: 30px;
        --view-gallery-button-in-product-info-block-line-height: 54px;
        --view-gallery-button-in-product-info-block-width: 359px;
        --view-gallery-button-in-product-info-block-height: 76px;

        --arrow-in-product-card-width: 56px;
        --arrow-in-product-card-height: 29px;
    }

}


@media (max-width: 1700px) { /*laptop-l < size < 4K*/
    :root { 
        --content-width: 1300px;
        --header-height: 733px;

        --header-central-column-width: 1000px;
        --header__title-height: 125px;
        --header__title-margin-top: 255px;

        --header__subtitle-font-size: 42px;
        --header__subtitle-container-margin-top: 13px;

        --header__front-picture-left: 532px;
        --header__front-picture-height: 600px;

        --main-height: 2287px;
        --main-top-segment-height: 537px;

        --social-network-icons-block-top: 330px;
        --social-network-icons-block-left: 29px;
        --social-network-icons-block-height: 92px;

        --social-network-icon-side-size: 16px;

        --product-info-block-left: 202px;
        --product-info-block-top: 68px; /*98px;*/

        --product-avatar-width: 444px;
        --product-avatar-height: 645px;

        --product-cards-placement-margin-top: 0px;
        --product-cards-placement-margin-left: 96px;

        --product-cards-viewport-width: 320px; /*301px;*/
        --product-cards-viewport-height: 369px;/*302px;*/

        --product-card-width: 320px; /*301px;*/
        --product-card-height: 369px; /*302px;*/

        --product-card__title-font-size: 57px;

        --product-card-title-to-description-range: 0px;/*26px;*/
        --product-cards-viewport-to-scrollbar-range: 37px; /*31px;*/

        --product-card__description-font-size: 24px; /*20px;*/
        --product-card__description-line-height: 29px;

        --product-cards-scrollbar-width: 320px; /*301px;*/
        --product-cards-scrollbar-line-thickness: 1px;
        --product-cards-scrollbar-thumb-thickness: 5px;

        --product-cards-right-fliper-container-margin-left: 65px;
        --product-cards-left-fliper-container-margin-right: 65px;
        --product-cards-fliper-width: 24px;
        --product-cards-fliper-height: 46px;

        --view-gallery-tools-container-height: 63px;
        --view-gallery-tools-container-margin-bottom: 43px;

        --view-gallery-button-in-product-info-block-font-size: 25px;
        --view-gallery-button-in-product-info-block-line-height: 45px;
        --view-gallery-button-in-product-info-block-width: 299px;
        --view-gallery-button-in-product-info-block-height: 63px;

        --arrow-in-product-card-width: 47px;
        --arrow-in-product-card-height: 24px;
    }

}

@media (max-width: 1440px) { /*laptop-l*/
    :root { 
        --content-width: 1000px;
        --header-height: 564px;

        --header-central-column-width: 698px;
        --header__title-height: 87px;
        --header__title-margin-top: 196px;

        --header__subtitle-font-size: 38px;
        --header__subtitle-container-margin-top: 8px;

        --header__front-picture-left: 409px;
        --header__front-picture-height: 450px;

        --main-height: 1780px;
        --main-top-segment-height: 418px;

        --social-network-icons-block-top: 275px;
        --social-network-icons-block-left: 24px;
        --social-network-icons-block-height: 92px;

        --social-network-icon-side-size: 16px;

        --product-info-block-left: 100px; /*118px;*/
        --product-info-block-top: 57px;

        --product-avatar-width: 371px;
        --product-avatar-height: 538px;

        --product-cards-placement-margin-top: 0px;
        --product-cards-placement-margin-left: 45px;

        --product-cards-viewport-width: 340px; 
        --product-cards-viewport-height: 320px;

        --product-card-width: 340px; 
        --product-card-height: 320px; 

        --product-card__title-font-size: 57px;

        --product-card-title-to-description-range: 0px;
        --product-cards-viewport-to-scrollbar-range: 15px;

        --product-card__description-font-size: 24px;
        --product-card__description-line-height: 29px;

        --product-cards-scrollbar-width: 340px;
        --product-cards-scrollbar-line-thickness: 1px;
        --product-cards-scrollbar-thumb-thickness: 5px;

        --product-cards-right-fliper-container-margin-left: 34px;
        --product-cards-left-fliper-container-margin-right: 34px;
        --product-cards-fliper-width: 20px;
        --product-cards-fliper-height: 38px;

        --view-gallery-tools-container-height: 53px;
        --view-gallery-tools-container-margin-bottom: 36px;

        --view-gallery-button-in-product-info-block-font-size: 21px;
        --view-gallery-button-in-product-info-block-line-height: 38px;
        --view-gallery-button-in-product-info-block-width: 249px;
        --view-gallery-button-in-product-info-block-height: 53px;

        --arrow-in-product-card-width: 39px;
        --arrow-in-product-card-height: 20px;
    }

}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-display-block {
    display: block;
}

.flex-row-content-to-left-top {
    justify-content:flex-start;
    align-items:flex-start;    
}

.flex-row-content-to-top {
    justify-content:center;
    align-items:flex-start;
}

.flex-row-content-to-right-top {
    justify-content:flex-end;
    align-items:flex-start;
}

.flex-row-content-to-left {
    justify-content:flex-start;
    align-items:center;
}

.flex-row-content-to-right {
    justify-content:flex-end;
    align-items:center;
}

.flex-row-content-to-left-bottom {
    justify-content:flex-start;
    align-items:flex-end;    
}

.flex-row-content-to-bottom {
    justify-content:center;
    align-items:flex-end;
}

.flex-row-content-to-right-bottom {
    justify-content:flex-end;
    align-items:flex-end;    
}

body {    
    background-color: #A67676;    
}

header {    
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    background:radial-gradient(at 0% 4.5%, #FFFFFF, #F4F4F4);
    border:1px solid #979797;

    width: var(--content-width);
    height: var(--header-height);

    margin: 0 auto;
}

.header__front-picture {
    position: absolute;
    left: var(--header__front-picture-left);
    bottom: 0;
    height: var(--header__front-picture-height);
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 72px;
    width: var(--header-central-column-width);
}

.tools__left-menu-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    width: 38px;
    height: 40px;
}

.tools__left-menu-oval-element-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.tools__left-menu-oval-element {
    display: block;
    width: 9px;
    height: 9px;
}

.tools__right-menu-element {
    width: 53px;
    height: 39px;
}

.tools__left-menu-container:hover, .tools__right-menu-element:hover {
    cursor:pointer;
}

.header__title { 
    width: var(--header-central-column-width); 
    height: var(--header__title-height);
    margin-top: var(--header__title-margin-top);
}

.header__subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: var(--header-central-column-width);    
}

.header__subtitle {
    font-family: 'Akronim', cursive;
    font-size: var(--header__subtitle-font-size);
}

main {
    position: relative;
    background-color: #FFFFFF;

    width: var(--content-width);
    height: var(--main-height);

    margin: 0 auto;
}

.main-top-segment {
    position: relative;    

    background-color: #4A4A4A;;

    width: var(--content-width);
    height: var(--main-top-segment-height);
}

.social-network-icons-block {
    position: absolute;
    top: var(--social-network-icons-block-top);
    left: var(--social-network-icons-block-left);
    /*width: var(--social-network-icons-block-width);*/
    height: var(--social-network-icons-block-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-network-icon {
    width: var(--social-network-icon-side-size);
    height: var(--social-network-icon-side-size);
}

.product-info-block {
    position: absolute;
    top: var(--product-info-block-top);
    left: var(--product-info-block-left);    

    display:flex;
    flex-direction: row;
}

.product-avatar {
    width: var(--product-avatar-width);
    height: var(--product-avatar-height);

}

.product-cards-placement {
    margin-top: var(--product-cards-placement-margin-top);
    margin-left: var(--product-cards-placement-margin-left);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-cards-tools-and-viewer {
    display: flex;
    flex-direction: row;
}

.product-cards-viewport-and-scrollbar-container {
    display: flex;
    flex-direction: column;
}

.product-cards-viewport {
    width: var(--product-cards-viewport-width);
    height: var(--product-cards-viewport-height);

    /*
    padding-right: 10px;
    overflow-y: scroll;
    */
}

.product-card {
    display: flex;
    flex-direction: column;    

    width: var(--product-card-width);
    height: var(--product-card-height);
}

.product-card__title-container {
    width: var(--product-card-width);
    margin-bottom: var(--product-card-title-to-description-range);  
}

.product-card__title {
    font-family: 'Work Sans';
    color: #FFFFFF;
    font-size: var(--product-card__title-font-size);
}

.product-card__description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: var(--product-card-width);
}

.product-card__description {
    font-family: Mukta Vaani;
    color: #FFFFFF;
    font-size: var(--product-card__description-font-size);
    line-height: var(--product-card__description-line-height);
}

.product-cards-scrollbar-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;

    width: var(--product-cards-scrollbar-width);
    height: var(--product-cards-scrollbar-thumb-thickness);
    margin-top: var(--product-cards-viewport-to-scrollbar-range);
}

.product-cards-scrollbar__line {
    position: absolute;
    left: 0;
    top: calc((var(--product-cards-scrollbar-thumb-thickness) - var(--product-cards-scrollbar-line-thickness))/2);
    background-color: white;
    width: var(--product-cards-scrollbar-width);
    height: var(--product-cards-scrollbar-line-thickness);

    z-index: 1;
}

.product-cards-scrollbar__thumb {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: calc(var(--product-cards-scrollbar-width)/3);
    height: var(--product-cards-scrollbar-thumb-thickness);

    z-index: 2;    
}

.product-cards-right-fliper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
    margin-left: var(--product-cards-right-fliper-container-margin-left);
}

.product-cards-right-fliper {
    cursor: pointer;
    width: var(--product-cards-fliper-width);
    height: var(--product-cards-fliper-height);    
}

.product-cards-left-fliper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
    margin-right: var(--product-cards-left-fliper-container-margin-right);
}

.product-cards-left-fliper {
    cursor: pointer;
    width: var(--product-cards-fliper-width);
    height: var(--product-cards-fliper-height);
}

.view-gallery-tools-container {
    position: relative;

    width: 100%;
    height: var(--view-gallery-tools-container-height);

    margin-bottom: var(--view-gallery-tools-container-margin-bottom);
}

button {
    cursor: pointer;
}

.button-hollow {
    border: 3px solid #979797;
    background-color: white;
    color: #7A797A;
    font-family: 'Roboto'; /*'Koulen';*/ /*Koulen выглядит как-то не так, как показано в макете */
}

.button_view-gallery-in-product-info-block {
    position: absolute;
    top: 0;
    right: calc(var(--product-cards-fliper-width) + var(--product-cards-right-fliper-container-margin-left));
    font-size: var(--view-gallery-button-in-product-info-block-font-size);
    line-height: var(--view-gallery-button-in-product-info-block-line-height);    

    width: var(--view-gallery-button-in-product-info-block-width);
    height: var(--view-gallery-button-in-product-info-block-height);
}

.arrow-right {
    cursor: pointer;
}

.arrow-in-product-card {
    position: absolute;
    top: calc((var(--view-gallery-tools-container-height) - var(--arrow-in-product-card-height))/2);
    right: 0px;
    width: var(--arrow-in-product-card-width);
    height: var(--arrow-in-product-card-height);
}